{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<h1 class="display-1 text-center"> About us! </h1>
            <p class="lead">
            	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae maxime veniam at ea, laudantium ullam non voluptates officiis, quaerat suscipit aliquid fuga. Accusamus unde consequatur dicta amet dolorem culpa minima.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nobis, expedita ipsum totam impedit ullam voluptates eum perspiciatis delectus cupiditate cum facilis. Dolor adipisci molestiae obcaecati assumenda neque delectus, aut.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, quibusdam eum? Non quod voluptates deserunt. Et perspiciatis perferendis, architecto fugiat illo neque itaque. Commodi dicta numquam ut, repellendus atque doloribus?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, aut fuga voluptatum dolorum maxime libero magni aliquid 
            </p>
            <p class="lead">
            	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae maxime veniam at ea, laudantium ullam non voluptates officiis, quaerat suscipit aliquid fuga. Accusamus unde consequatur dicta amet dolorem culpa minima.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam nobis, expedita ipsum totam impedit ullam voluptates eum perspiciatis delectus cupiditate cum facilis. Dolor adipisci molestiae obcaecati assumenda neque delectus, aut.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, quibusdam eum? Non quod voluptates deserunt. Et perspiciatis perferendis, architecto fugiat illo neque itaque. Commodi dicta numquam ut, repellendus atque doloribus?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, aut fuga voluptatum dolorum maxime libero magni aliquid 
            	
            </p>
		</div>
	</div>
</div>
		
{% endblock %}


